// Variabel warna
$primaryColor: #0BC96E;
$secondaryColor: white;
$semuColor: #e1eefb8a;
$lowColor: #808080;
$shadowColor: rgba(212,212,212,0.5);
$textPrimaryColor: #1E1E1E;
$textSecondaryColor: #9fc3a9;
$titleColor: #0bbc66;
$linearGradienButton: linear-gradient(90deg, #0BC96E 0%, #0fb163 100%);
$sideBarColor: rgb(250, 250, 250);
$footerBgColor: #11141B;
$transfarantFooterBgColor: #242a3a;




