@use 'abstracts' as *;
@use 'sections/navbar' as *;
@use 'sections/hero' as *;
@use 'sections/about' as *;
@use 'sections/gallery' as *;
@use 'sections/testimoni' as *;
@use 'sections/service' as *;
@use 'sections/blog' as *;
@use 'sections/contact' as *;
@use 'sections/footer' as *;


*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    scroll-behavior: smooth;
}


@include navbarSection();
@include heroSection();
@include aboutSection();
@include serviceSection();
@include gallerySection();
@include testimoniSection();
@include blogSection();
@include contactSection();
@include footerSection();






















































































































