@use '../abstracts' as *;

@mixin contactSection(){

    .contactSection{
        @include section();
        background-color: $semuColor;

        .container{
            width: 100%;

            .title{
                @include mainTitle();
            }

            .git{
                margin-bottom: 20px;
            }

            .map{
                height: 300px;
                // background-color: red;
                margin-bottom: 50px;
            }

            .contactInfo{
                // background-color: lightgreen;
                display: flex;
                justify-content: space-between;

                .form{
                    width: 60%;
                    // background-color: red;

                    table{
                        width: 100%;

                        tr{td{
                            padding-bottom: 20px;
                            font-size: 1em;

                            input, textarea{
                                width: 100%;
                                padding: 10px;
                                box-sizing: border-box;
                                outline: none;
                                resize: vertical;
                                background-color: $semuColor;
                                border: 1px solid grey;
                            }

                            &.name{padding-right: 5px;}
                            &.email{padding-left: 5px;}
                        }}
                    }

                    .btn{
                        font-size: 1em;
                        color: $primaryColor;
                        padding: 10px 20px;
                        box-sizing: border-box;
                        background-color: transparent;
                        border-radius: 5px;
                        border: 1.5px solid $primaryColor;
                        transition: .2s ease-in;

                        &:hover{
                            transform: scale(1.05);
                            cursor: pointer;
                        }
                        &:active{ transform: scale(.9); }
                    }
                }

                .more{
                    width: 35%;
                    // background-color: red;
                    padding: 10px;
                    box-sizing: border-box;

                    .morecard{
                        width: 100%;
                        display: flex;
                        margin-bottom: 20px;

                        .icon{
                            width: 30px;
                            height: 30px;
                            margin-right: 20px;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
    
                        .infomore{
                            // background-color: lightcoral;
                            h4{ font-size: .9em; }
                            p{
                                font-size: .8em;
                                color: $lowColor;
                            }
                        }

                        &:first-child .icon { background-image: url(../img/icon/home2.png); }
                        &:nth-child(2) .icon { background-image: url(../img/icon/smartphone2.png); }
                        &:last-child .icon { background-image: url(../img/icon/mail2.png); }
                    }
                }
            }
        }
    }


    @media (min-width: 1200px){

    }
    
    @media (max-width: 992px){
        .contactSection{    
            .container{
    
                .git{
                    margin-bottom: 20px;
                }
    
                .contactInfo{
                    .form{ width: 55%; }

                    .more{
                        width: 40%;
                        .morecard{
                            .icon{
                                width: 25px;
                                height: 25px;
                                margin-right: 15px;
                            }
        
                            .infomore{
                                h4{ font-size: .8em; }
                                p{ font-size: .7em; }
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 768px){
        .contactSection{    
            .container{
    
                .git{ margin-bottom: 15px; }
    
                .contactInfo{
                    .form{
                        width: 55%;
                    
                        table{
                            tr{td{
                                padding-bottom: 10px;
                                textarea{ height: 120px; }
                            }}
                        }
                    }

                    .more{
                        width: 45%;
                        .morecard{
                            .icon{
                                width: 17px;
                                height: 17px;
                                margin-right: 10px;
                            }
        
                            .infomore{
                                h4{ font-size: .7em; }
                                p{ font-size: .6em; }
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 576px){
        .contactSection{
            padding: 5%;
            
            .container{
                .git{ margin-bottom: 15px; }
    
                .contactInfo{
                    flex-direction: column;

                    .form{
                        width: 100%;
                        margin-bottom: 30px;
                    
                        table{
                            tr{td{
                                padding-bottom: 10px;
                                textarea{ height: 120px; }
                            }}
                        }

                        .btn{ padding: 5px 10px; }
                    }

                    .more{
                        width: 100%;
                        // background-color: red;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        padding: 0;

                        .morecard{
                            // background-color: blue;
                            margin: 0 10px 10px;
                            width: fit-content;

                            .icon{
                                width: 20px;
                                height: 20px;
                                margin-right: 10px;
                            }
        
                            .infomore{
                                h4{ font-size: .7em; }
                                p{ font-size: .6em; }
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 390px){
        
    }
}