@use '../abstracts' as *;

@mixin heroSection() {

    .heroSection{
        width: 100%;
        height: 100vh;
        background-image: url(../img/hero/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
        // color: white;
    
        .container{
            width: 80%;
            height: 100%;
            margin: auto;
            padding: 10px;
            box-sizing: border-box;
            
            // background-color: #ff000043;
    
            .lTitle{
                color: white;
                display: flex;
                align-items: center;
                margin: 32vh 0 20px;
                
                .line{
                    width: 60px;
                    height: 3px;
                    background-color: white;
                    margin-right: 20px;
                }
            }

            p{
                text-shadow: 10px 10px 10px 10px white;
            }
    
            h1{
                max-width: 60%;
                font-size: 3em;
                color: $textPrimaryColor;
                margin-bottom: 20px;
                // color: white;
                
                span{
                    color: $primaryColor;
                    // color: $titleColor;
                }
            }
            
            .heroInfo{
                max-width: 45%;
                text-align: justify;
                font-size: .9em;
                margin-bottom: 20px;
            }
    
            .appointment{
                max-width: 160px;
                max-height: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 12px 16px;
                box-sizing: border-box;
                // background-color: linear-gradient(90deg, rgba(98,171,238,1) 0%, rgba(61,159,250,1) 100%);
                background-color: $titleColor;
                text-decoration: none;
                border-radius: 5px;
                box-shadow: -10px 10px 43px 0px rgba(128,166,212,0.75);
                transition: .3s all;
    
                &:hover{
                    transform: scale(1.05);
                    background-color: lighten($color: $titleColor, $amount: 3);
                }
                &:active{ transform: scale(.9); }
    
                p{
                    color: white;
                    // background-color: blue;
                }
    
                .arrow{
                    width: 16px;
                    height: 16px;
                    background-image: url(../img/icon/right-arrow.png);
                    background-size: cover;
                    // background-color: red;
                }
            }
        }
    }

    // MEDIA QUERY
    @media (min-width: 1200px){
        .heroSection{
            .container{
                .lTitle{
                    font-size: 1em;
                    margin: 32vh 0 20px;

                    .line{
                        width: 40px;
                        height: 2px;
                        margin-right: 20px;
                    }

                }
                
                h1{
                    max-width: 50%;
                    font-size: 3em;
                    margin-bottom: 20px;
                }

                .heroInfo{
                    font-size: 1em;
                    max-width: 45%;
                    margin-bottom: 20px;
                }
                
            }
        }
    }

    @media (max-width: 992px){
        .heroSection{
            background-position: center;
    
            .container{
                .lTitle{
                    font-size: .8em;
                    margin: 40vh 0 20px;
    
                    .line{
                        width: 40px;
                        height: 2px;
                        margin-right: 15px;
                    }
    
                }
                
                h1{
                    max-width: 75%;
                    font-size: 3em;
                }
    
                .heroInfo{
                    font-size: 1em;
                    max-width: 65%;
                    margin-bottom: 15px;
                }
                
            }
        }
    }

    @media (max-width: 768px){
        .heroSection{
            background-position: center;
    
            .container{
                width: 90%;
    
                .lTitle{
                    font-size: .8em;
                    margin: 40vh 0 20px;
    
                    .line{
                        width: 40px;
                        height: 2px;
                        margin-right: 15px;
                    }
    
                }
                
                h1{
                    max-width: 75%;
                    font-size: 2.5em;
                }

                .heroInfo{
                    font-size: 1em;
                    max-width: 65%;
                    margin-bottom: 15px;
                }
                
                .appointment{
                    // max-width: 250px;
                    font-size: .8em;
                    max-width: 130px;
                    padding: 8px 10px;
    
                    .arrow{
                        max-width: 12px;
                        max-height: 12px;
                    }
                }
            }
        }
    }

    @media (max-width: 576px){
        .heroSection{
            background-position: center;
    
            .container{
                width: 90%;
    
                .lTitle{
                    font-size: .7em;
                    margin: 34vh 0 20px;
    
                    .line{
                        width: 40px;
                        height: 2px;
                        margin-right: 15px;
                    }
                }
                
                h1{
                    max-width: 80%;
                    font-size: 2em;
                }
    
                .heroInfo{
                    font-size: .8em;
                    max-width: 80%;
                    margin-bottom: 15px;
                }
                
                .appointment{
                    font-size: .8em;
                    max-width: 130px;
                    padding: 10px 12px;
    
                    .arrow{
                        max-width: 9px;
                        max-height: 9px;
                    }
                }
            }
        }
    }

    @media (max-width: 390px){
        .heroSection{
            background-position: center;
    
            .container{
                width: 90%;
    
                .lTitle{
                    font-size: .5em;
                    margin: 40vh 0 10px;
    
                    .line{
                        width: 30px;
                        height: 1px;
                        margin-right: 10px;
                    }
                }
    
                h1{
                    max-width: 85%;
                    font-size: 1.5em;
                    margin-bottom: 15px;
                }
    
                .heroInfo{
                    font-size: .7em;
                    max-width: 80%;
                    margin-bottom: 15px;
                }
                
                .appointment{
                    font-size: .7em;
                    max-width: 100px;
                    padding: 6px 8px;
    
                    .arrow{
                        max-width: 7px;
                        max-height: 7px;
                    }
                }
            }
        }
    }

    // END MIXIN
}
