@use '../abstracts' as *;

@mixin testimoniSection() {

    .testimoniSection{
        .container{
            width: 100%;
            height: 100vh;
            background: $linearGradienButton;
            display: flex;
            justify-content: flex-end;
            // align-items: center;
            
            .testiLeft{
                width: 40%;
                height: 100%;
                // background-color: rgb(182, 0, 0);
                color: white;
                padding-right: 3%;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                .said{
                    margin-bottom: 10%;
                    text-align: center;
                    justify-self: center;
                    font-size: 1.1em;
                }
    
                .picture{
                    width: 300px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: .9em;
    
                    .profile{
                        width: 100px;
                        height: 100px;
                        background-size: cover;
                        border-radius: 50%;
                    }
    
                    .name{
                        text-align: center;
    
                        p:first-child{
                            font-weight: bold;
                        }
                    }
                }
            }
    
            .testiRight{
                width: 50%;
                height: 100%;
                background-image: url(../img/testimoni/testimoni.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }

    // MEDIA QUERY 
    @media (min-width: 1200px){

    }

    @media (max-width: 992px){
        .testimoniSection{
            .container{
                .testiLeft{
                    .said{
                        font-size: 1em;
                    }
        
                    .picture{
                        max-width: 270px;
                        font-size: .8em;
                        // background-color: red;
        
                        #profile{
                            height: 80px;
                            width: 80px;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px){
        .testimoniSection{
            .container{
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;

                .testiLeft{
                    width: 80%;
                    height: 50%;
                    // background-color: red;

                    .said{
                        font-size: 1em;
                    }
        
                    .picture{
                        max-width: 230px;
                        font-size: .8em;
        
                        #profile{
                            height: 80px;
                            width: 80px;
                            margin-right: 0;
                        }
                    }
                }

                .testiRight{
                    width: 100%;
                    height: 50%;
                }
            }
        }
    }

    @media (max-width: 576px){
        .testimoniSection{
            .container{

                .testiLeft{
                    width: 90%;
                    height: 50%;
                }
            }
        }
    }

    @media (max-width: 390px){
        .testimoniSection{
            .container{

                .testiLeft{
                    width: 90%;
                    height: 50%;

                    .said{
                        font-size: .8em;
                    }
        
                    .picture{
                        max-width: 200px;
                        font-size: .7em;
        
                        #profile{
                            height: 60px;
                            width: 60px;
                            margin-right: 0;
                        }
                    }
                }

                .testiRight{
                    width: 100%;
                    height: 50%;
                }
            }
        }
    }


    // END MIXIN
}